<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8" />
  <script src="https://kit.fontawesome.com/f4980961c3.js" crossorigin="anonymous"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="icon" type="image/x-icon" href='{% static "home/favicon.ico" %}'> -->
  <link rel="stylesheet" href='{% static "home/style.css" %}' />
  <link rel="stylesheet" href='{% static "home/style2.css" %}' />
  <link rel="stylesheet" href='{% static "home/header.css" %}' />
  <link rel="stylesheet" href='{% static "home/slider.css" %}' />
  <link rel="stylesheet" href='{% static "home/animation.css" %}' />
  <link rel="stylesheet" href='{% static "home/base.css" %}' />
  <link rel="stylesheet" href='{% static "home/about.css" %}' />
  <link rel="stylesheet" href='{% static "home/footer.css" %}' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <title>Phần Mềm Hóa Đơn Điện Tử</title>
</head>

<body>
  <header id="header">
    <div class="container header">
      <div class="header-logo">
        <a class="actived" href="/">
          <img src="{% static 'home/image/logo.png' %}" alt="logo-image" class="logo">
        </a>
      </div>
      <nav>
        <ul class="nav-menu">
          <li>
            <a class="color-active" href="/">TRANG CHỦ</a>
          </li>
          <li>
            <a href="/files/">KÍ VĂN BẢN</a>
          </li>
          <li>
            <a href="/files/upload-verify/">XÁC THỰC VĂN BẢN</a>
          </li>
          <li>
            <a href="/#contact-part">LIÊN HỆ</a>
          </li>
        </ul>
      </nav>
      <div class="header-icon">
        <div class="button-popup">
          <p>
            {% if user.is_authenticated %}
            Hello, <span class="color-active name-user">{{user.username}}</span>
            {% endif %}
          </p>
          <img src="{% static 'home/image/icon-user.png' %}" alt="icon-user" class="icon-user"/>
        </div>
        <div class="popup-user">
          <ul class="list-popup">
            <li>
              <a href="/users/logout">ĐĂNG XUẤT</a>
            </li>
            <li>
              <a href="/users/profile/">Profile</a>
            </li>
            <li>
              <a href="/users/login">ĐĂNG NHẬP</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div class="overflow-hidden">
    <section id="slider" style="margin-top: 80px;">
      <div class="container">
        <div class="mySlides fade">
          <img src="https://media.vneconomy.vn/images/upload/2024/08/07/chu-ky-dien-tu-va-chu-ky-so-3.jpg" class="item-slider">
        </div>
        <div class="mySlides fade">
          <img src="https://media.vneconomy.vn/images/upload/2024/08/07/chu-ky-dien-tu-va-chu-ky-so-3.jpg" class="item-slider">
        </div>
        <div class="mySlides fade">
          <img src="https://econtract.efy.com.vn/main/download/getckfinderimage?path=/files/chu-ky-hinh-anh-3.jpg" class="item-slider">
        </div>
      </div>
      <p class="prev" onclick="plusSlides(-1)">❮</p>
      <p class="next" onclick="plusSlides(1)">❯</p>
      <div class="group-dot">
        <div class="dot-item" onclick="currentSlide(1)"></div>
        <div class="dot-item" onclick="currentSlide(2)"></div>
        <div class="dot-item" onclick="currentSlide(3)"></div>
      </div>
    </section>
  
    <div id="about-us">
      <div class="container">
        <img src="{% static 'home/image/icon-bg-home-about.png' %}" alt="" class="img-about-1">
        <img src="{% static 'home/image/icon-bg-home-about1.png' %}" alt="" class="img-about-2">
        <h2>About us</h2>
        <p>Established in 1995</p>
        <div class="content">
          <span>
            I am a dedicated developer specializing in digital signature security and 
            electronic transaction integrity. With a solid foundation in encryption, cryptographic
            protocols, and digital identity management, I am committed to enhancing secure
            digital experiences for businesses and individuals alike. My experience spans 
            developing and implementing solutions that ensure document authenticity, data protection,
            and regulatory compliance. 
          </span>
          <span>
            I believe in making security seamless and accessible, balancing
            robust protection with user-friendly design. In addition to technical skills, I stay
            up-to-date with evolving security standards and digital compliance regulations, 
            ensuring that my solutions are not only safe but also forward-thinking. Passionate 
            about innovation in cybersecurity, I am driven to empower users with trustworthy 
            digital tools that make online transactions reliable and efficient. Whether collaborating
            with cross-functional teams or solving complex security challenges, my goal remains to 
            safeguard digital interactions through rigorous security measures and continuous improvement.
          </span>
        </div>
      </div>
    </div><div id='contact-part'>
      <div class='contact-title'>
        <h2>Contact Us</h2>
      </div>
      <div class='contact-details'>
        <div class='contact-map'>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3125.3677270382605!2d105.78758394895978!3d20.98033226085798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135accdd8a1ad71%3A0xa2f9b16036648187!2zSOG7jWMgdmnhu4duIEPDtG5nIG5naOG7hyBCxrB1IGNow61uaCB2aeG7hW4gdGjDtG5n!5e0!3m2!1svi!2s!4v1680530214365!5m2!1svi!2s"
            width="550" height="400" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" class="border-big"></iframe>
        </div>
        <div class='contact-right'>
  
          <div>
            <div class='contact-right-title'>
              <h2 class="text-align-center">Send Us a Message</h2>
            </div>
            <div class='contact-form'>
  
              <input type='text' placeholder='Name' />
            </div>
            <div class='contact-form'>
  
              <input type='text' placeholder='Phone Number' />
            </div>
            <div class='contact-form'>
  
              <input type='text' placeholder='Email' />
            </div>
            <div class='contact-form'>
              <textarea placeholder='Message' name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class='contact-form'>
              <button class='handle-book-btn' type='submit'> Submit</button>
            </div>
          </div>
  
          {% comment %} <div>
            <div class='contact-social-media'>
              <div>
                <i class="fa-brands fa-square-facebook contact-social-media-item"></i>
              </div>
              <div>
                <i class="fa-brands fa-square-youtube contact-social-media-item"></i>
              </div>
              <div>
                <i class="fa-brands fa-square-twitter contact-social-media-item"></i>
              </div>
            </div>
          </div> {% endcomment %}
        </div>
      </div>
  
    </div>
  </div>


  {% comment %} footer {% endcomment %}

  <footer id="footer">Copyright © 2023 PTIT | Powered by PTIT</footer>

  <div>{% block content %} {% endblock %}</div>

  <script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot-item");
      if (n > slides.length) {
        slideIndex = 1
      }
      if (n < 1) {
        slideIndex = slides.length
      }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }
  </script>
</body>

</html>