<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate and Expire Key Pair</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container mt-5">
        <h2>Expire Key Pair</h2>
        {% for message in messages %}
            {% if forloop.last %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}

        <form method="post" action="{% url 'keypair:expire_keypair' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="verification_code_expire">Verification Code</label>
                <input type="text" id="verification_code_expire" name="verification_code_expire" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-danger">Expire Key Pair</button>
        </form>
    </div>
</body>
</html>
