<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/f4980961c3.js" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="icon" type="image/x-icon" href='{% static "home/favicon.ico" %}' /> -->
    <link rel="stylesheet" href='{% static "home/style.css" %}' />
    <link rel="stylesheet" href='{% static "books/style2.css" %}' />
    <link rel="stylesheet" href='{% static "home/header.css" %}' />
    <link rel="stylesheet" href='{% static "home/footer.css" %}' />
    <link rel="stylesheet" href='{% static "home/base.css" %}' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <title>Phần Mềm Chữ Kí Số</title>
</head>
<body>
    <header id="header">
        <div class="container header">
          <div class="header-logo">
            <a class="actived" href="/">
              <img src="{% static 'home/image/logo.png' %}" alt="logo-image" class="logo">
            </a>
          </div>
          <nav>
            <ul class="nav-menu">
              <li>
                <a classs="actived" href="/">Home</a>
              </li>
              <li>
                <a href="/files/">Sign a document</a>
              </li>
              <li>
                <a href="/files/upload-verify/">Verify a document</a>
              </li>
              <li>
                <a href="/#contact-part">Contact</a>
              </li>
            </ul>
          </nav>
          <div class="header-icon">
            <div class="button-popup">
              <p>
                {% if user.is_authenticated %}
                Hello, <span class="color-active name-user">{{user.username}}</span>
                {% endif %}
              </p>
              <img src="{% static 'home/image/icon-user.png' %}" alt="icon-user" class="icon-user"/>
            </div>
            <div class="popup-user">
              <ul class="list-popup">
                <li>
                  <a href="{% url 'users:logout'%}">Logout</a>
                </li>
                <li>
                  <a href="/users/profile/">Profile</a>
                </li>
                <li>
                  <a href="/users/all_users/">AllUsers </a>
                </li>
                <li>
                  <a href="/users/login">Login</a>
                </li>
                <li>
                  <a href="/users/register">Register</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>

    <div class="main">
        <div class="main-books">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer id="footer">Copyright © 2023 PTIT | Powered by PTIT</footer>


    </div>
    <script>
        function displayLogin() {
            console.log("displayLogin");
            let displayUser = document.getElementById("header-icon-user-display");
            if (displayUser.style.display === "none") {
                displayUser.style.display = "block";
            } else {
                displayUser.style.display = "none";
            }
        }
    </script>
</body>

</html>